@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    /* Colors */
    --white-color: #F7F9F9;
    --black-color: #283044;
    --blue-color: #42CAFD;
    --purple-color: #8A1C7C;
    --orange-color: #FFBE86;
    --green-color: #26A96C;

    /* Font Sizes */
    --h1: 2.5rem;
    --h2: 1.5rem;
    --footer-font: 1.3rem;
    --button-font: 1rem;
}

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Layout Styles */

body {
    min-height: 100vh;
    background-color: var(--white-color);
}

main {
    padding-top: 20px;
    margin: 0px 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cell-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell {
    border: 2px solid var(--black-color);
    color: var(--black-color);
    width: clamp(5rem, 7.83vw - 0.021rem, 9.375rem);
    height: clamp(5rem, 7.83vw - 0.021rem, 9.375rem);
    text-align: center;
    line-height: clamp(4.688rem, 6.152vw + 0.742rem, 8.125rem);
    font-size: clamp(3.125rem, 5.593vw - 0.461rem, 6.25rem);
    cursor: pointer;
}

button {
    padding: 8px 18px;
    color: var(--white-color);
    font-size: var(--button-font);
    font-weight: 600;
    outline: none;
    background-color: var(--green-color);
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    color: var(--green-color);
    background-color: var(--white-color);
}

/* Text Styles */

h1 {
    font-size: var(--h1);
    font-weight: 900;
    color: var(--black-color);
}

h2 {
    font-size: var(--h2);
    font-weight: 600;
}

footer {
    font-size: var(--footer-font);
    font-weight: 600;
}

footer a {
    text-decoration: none;
    color: var(--green-color);
}

footer a:hover {
    text-decoration: underline;
}